//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 04 20:52:36 2017
//! **************************************************************************

SCHEMATIC START;
COMP "b1" LOCATE = SITE "G12" LEVEL 1;
COMP "b2" LOCATE = SITE "C11" LEVEL 1;
COMP "switch<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "b3" LOCATE = SITE "M4" LEVEL 1;
COMP "switch<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "switch<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "switch<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "switch<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "switch<5>" LOCATE = SITE "F3" LEVEL 1;
COMP "switch<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "switch<7>" LOCATE = SITE "N3" LEVEL 1;
COMP "mclk" LOCATE = SITE "B8" LEVEL 1;
PIN mclk_pin<0> = BEL "mclk" PINNAME PAD;
PIN "mclk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "W<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "W<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "W<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "W<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "W<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "W<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "W<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "W<7>" LOCATE = SITE "G1" LEVEL 1;
NET "mclk_BUFGP/IBUFG" BEL "mclk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

